@use '../abstract/_variaveis.scss'

//O Guilerme ensinou assim
//import style/abstract/_variaveis.scss

@mixin bg-colors($lado, $colors...)
    @if $lado == 'left'
        background: linear-gradient(to left, $colors)

    @else 
        background: linear-gradient(to right, $colors)

footer
    text-align: center
    font-size: calc($tamanho-do-texto / 2)
    border-top: $cor-primaria
    margin-top: 1rem
    padding: 1.2rem
    @include bg-colors('right', $cor-secundaria,$cor-primaria, $cor-terciaria)
    i
        color: red
